.main-nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	text-decoration: none;

}

.link-3 {
  transition: 0.4s;
  color: #194B60;
  font-size: 20px;
  text-decoration: none;
  	padding-left: 110px;
	padding-right: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all .2s ease-in-out;

}
a {
	text-decoration: none;
	color: #194B60;
}
.link-3:hover {
  background-color: #6AC7ED;
  transform: scale(1.1);
}
h1 {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	font-family: 'Crimson Text', serif;
}


.box {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	background-color: #6AC7ED;
	animation: fadeInLeft;
	animation-duration: 1.0s;

}
.info {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
}